body {
  background: $bg;
  color: $text;
  font-family: Arial;
  padding: 2rem;
}

#contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

input {
  margin-bottom: 2rem;
  padding: 0.7rem;
  width: 100%;
}