.menu-horizontal ul {
list-style-type: none;
background-color: #333;
text-align: center;

}
.menu-horizontal li {
display: inline-block;

}
.menu-horizontal li a:hover {
background-color: #111;
color: #ffd700;
}

.menu-horizontal li a{
    color: white;
}
.boton{
     padding: 10px;  cursor: pointer; margin-top: 15px; border-radius: 5px;

}
.boton-primario {
    background-color: #2a98e2; color: white;
}
.boton-secundario {
    background-color:white; border: #333;
}